.portfolio__section {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 1rem;
}

.portfolio__item {
  background-color: var(--container-color);
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 0.25rem;
}

.portfolio__image {
  width: auto;
  height: 210px;
  border-radius: 0.25rem;
}

.portfolio__item:hover {
  transform: translateY(-5px);
}

.portfolio__title {
  color: var(--title-color);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.portfolio__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.75rem;
}

.portfolio__button {
  background-color: var(--title-color-dark);
  padding: 0.25rem;
  color: #fff;
  font-size: var(--smaller-font-size);
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .portfolio__section {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__image {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .portfolio__section {
    grid-template-columns: repeat(1, 1fr);
  }
}
